---
title: EDB Postgres Ark
owner: EnterpriseDB Corp.
---

This documentation describes the installation and usage of the EDB Postgres Ark tile for Pivotal Cloud Foundry (PCF).  The EDB Postgres Ark tile integrates with EDB Postgres Ark (Ark) on either an OpenStack or Amazon AWS host.  

  <%= image_tag("tile.png") %>

## <a id='overview'></a>Overview

EDB Postgres Ark automatically provisions PostgreSQL or EDB Postgres Advanced Server databases in single instances, high-availability clusters, or application development sandboxes.  

## <a id='features'></a>Key Features

In minutes, EDB Ark configures a cluster of database machines with:

* Streaming replication
* Connection pooling
* Load balancing
* Automatic failover (transaction or recovery time preferred)
* Secure data encryption
* Rotating user-scheduled backups
* Point-in-time recovery
* Elastic storage
* Elastic scale out

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about EDB Postgres Ark.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v1.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>July 28, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v2.0</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.11.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.11.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>The EDB Postgres Ark tile supports provisioning of RHEL 7 and CentOS 6.x and 7.x instances on OpenStack and Amazon AWS.</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>No</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

The EDB Postgres Ark tile has the following pre-requisite:

Before deploying an EDB Postgres Ark tile, you must install and configure the EDB Postgres Ark server on an Amazon AWS or OpenStack host.  When configuring Ark, you must enable at least one database engine; ideally, you should enable all of the engines that you plan to use with the tile before tile deployment.  

For detailed information about deploying an Ark console on an AWS or OpenStack host, see the EDB Ark Administrator's Guide, available from the EnterpriseDB website at: https://www.enterprisedb.com/resources/product-documentation

## <a id="limitations"></a>Limitations

EDB Postgres Ark has the following known limitations:

* Prior to launching a tile, you must connect to the Ark console as an Administrative user and enable all of the database engines that will be used by the tile.  If you enable additional engines after launching the tile, you will be required to reconfigure and restart the tile.

* When configuring an instance in the Pivotal Apps Manager, you will have the option to bind the instance to an application.  You should not provide a value in the **Bind to App** field; if the graphical interface attempts to bind before the back-end cluster is running, the binding will fail.  Instead, select **Show Advanced Options** and specify your service instance preferences.  After the service instance has been created, you can use the **Pivotal App Bindings** dialog or **bind-service** command to bind an application to your instance.

* When calling `cf update-service`, the optional `–p NEW_PLAN` functionality is not supported by the EDB Postgres Ark tile.

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please send an email to support@enterprisedb.com.

## <a id='license'></a>License

The EDB Postgres Ark tile does not require a license, but licenses may be required for software managed by EDB Postgres Ark.  Please consult each software vendor for their licensing requirements.
