---
title: Installing and Configuring EDB Postgres Ark
owner: EnterpriseDB Corp.
---

This page describes how to install and configure EDB Postgres Ark.

##<a id='install'></a> Installing and Configuring EDB Postgres Ark

1. After configuring the Ark host, log in to the PCF Ops Manager, and select the **EDB Postgres Ark** icon from the PCF Ops Manager Installation Dashboard.

	<%= image_tag("ops_manager.png") %>

2. Navigate to the **Settings** tab.

	<%= image_tag("ark_settings.png") %> 
  Configure the fields on the **EDB Postgres Ark** dialog as follows:<br><br>
  * **EDB Postgres Ark Cloud Provider**: Specify if your instances reside on Openstack or Amazon AWS; specify **AWS** or **OPENSTACK**.<br>
  * **EDB Postgres Ark Console URL**: Enter the address of the Ark server.<br>
  * **Ark User Name**: Enter the name of the administrative Ark user that will create and manage resources on behalf of Cloud Foundry.<br>
  * **Ark Password**: Enter the password associated with the **Ark User Name**.<br>
  * **Network or VPC ID to Deploy Into**: Enter the identifier of the OpenStack network or AWS VPC in which resources will reside.<br>
  * **IP Pool**: Enter the name of the IP pool that will be used when assigning IP addresses to instances.<br>
  * **OpenStack Tenant**: If your instances will reside on an OpenStack host, provide the name of the tenant in which your instances will be created.<br>
  * **Amazon AWS Role Name**: If your instances will reside on an AWS host, provide the name of the AWS role that will be associated with each instance.

3. Navigate to the **Service Access** dialog.

	<%= image_tag("service_access.png") %>
  Use fields on the **Service Access** dialog to enable access to service plans:<br><br>
  * Check the box next to **Enable global access to plans of service** field to allow access to **edb\_postgres\_ark** service plans.