---
title: Release Notes for EDB Postgres Ark Service Broker
owner: EnterpriseDB Corp
---

##<a id="ver"></a> v1.0.1

**Release Date:** September 22, 2017

Issues fixed in this release:

* Application bindings that share a service instance can view tables or data added by each other.
* Quoting in SQL commands is updated for consistency.
* Response codes for calls to non-existent services have been corrected.

##<a id="ver"></a> v1.0.0

**Release Date:** July 28, 2017

The EDB Postgres Ark Service Broker provides comprehensive integration with EDB Postgres Ark.  EDB Postgres Ark simplifies the provisioning and binding of highly available database clusters on demand.

Features included in this release:

* Automated on-demand provisioning of any-scale database clusters.
* Health monitoring, backup, automatic recovery, and failover.
* Integrated database cloning.

Known issues in this release:

* Before launching a tile, you must connect to the Ark console as an Administrative user and enable any database engines that will be used by the tile.
* When configuring an instance in the Pivotal Apps Manager, you should not provide a value in the **Bind to App** field; if the graphical interface attempts to bind before the back-end cluster is running, the binding will fail.
* When calling `cf update-service`, the optional `–p NEW_PLAN` functionality is not supported.
